@font-face {
    font-family: "Raleway";
    src: url("hidden_media/fonts/Raleway-Regular.ttf");
    font-weight: 400;
    font-style: unset;
}

@font-face {
    font-family: "Raleway";
    src: url("hidden_media/fonts/Raleway-SemiBold.ttf");
    font-weight: 700;
    font-style: unset;
}

@font-face {
    font-family: "Raleway";
    src: url("hidden_media/fonts/Raleway-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Raleway";
    src: url("hidden_media/fonts/Raleway-SemiBoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Raleway";
    src: url("hidden_media/fonts/Raleway-Light.ttf");
    font-weight: 100;
    font-style: unset;
}

@font-face {
    font-family: "Raleway";
    src: url("hidden_media/fonts/Raleway-LightItalic.ttf");
    font-weight: 100;
    font-style: italic;
}

/* colors */

:root {
    --f-hi: #131a17;
    --f-md: #214940;
    --f-lo: #0f947e;
    --f-in: #ffffff;

    --b-hi: #eefbf8;
    --b-md: #bfeee6;
    --b-lo: #98e2dc;
    --b-in: #1c5d5a;

    --xxs: 3px;
    --xs: 6px;
    --sm: 12px;
    --md: 18px;
    --lg: 24px;
    --xl: 36px;
    --xxl: 48px;

    --minimum-side-width: var(--xl);
    --main-width: 960px;
}

/* visual styling */

body {
    font-family: "Raleway";
    color: var(--f-md);
    background-color: var(--b-hi);
}

a { color: var(--f-lo); }

em { font-style: italic; }

strong { font-weight: 700; }

h1 { font-size: 32pt; font-weight: 100; }
h2 { font-size: 24pt; font-weight: 400; }
h3 { font-size: 18pt; font-weight: 400; }
h4 { font-size: 14pt; }
h5 { font-size: 12pt; }
h6 { font-size: 10pt; }

blockquote {
    margin: 0;
    padding: var(--sm) var(--xl);
    background-color: var(--b-md);
}

ul {
    margin: 0;
}

/* preformatted and code block styling */

pre { white-space: pre-wrap; }

pre code {
    display: block;
    padding: var(--md) var(--lg);
    background-color: var(--b-lo);

    min-height: var(--md);
    overflow-y: scroll;
}

code {
    border-radius: var(--xxs);
    padding: 1pt 4pt;
    background-color: var(--b-lo);
    color: var(--f-md);
}

/* page region styling */

header, footer {
    background-color: var(--b-md);
}

footer {
    color: var(--f-lo);
}

/* setting up the base page layout with a css grid */
#pagegrid {
    display: grid;
    grid: "header header header" auto
          "left main right" 1fr
          "footer footer footer" auto
        / minmax(var(--minimum-side-width), 1fr) minmax(0px, var(--main-width)) minmax(var(--minimum-side-width), 1fr);
    height: 100vh;
}
header { grid-area: header; }
main { grid-area: main; }
footer { grid-area: footer; }
header, footer { padding: var(--md) var(--minimum-side-width); }

/* header and footer organization */

header {
    display: flex;
    align-items: center;
}

header nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    width: 100%;
}

header nav ul {
    display: flex;

    flex-grow: 1;
    list-style: none;
    padding-inline-start: 0;
    margin-left: var(--lg);
}

header nav ul > {
    display: inline-flex;
}

header nav ul a {
    padding: var(--sm) var(--xs);
}

header a {
    text-decoration: none;
}

header nav ul li:not(:last-child) {
    margin-right: var(--md);
}

#nav-title {
    text-align: center;
    font-size: 24pt;
}

header button {
    border-radius: var(--xxs);
    background-color: var(--b-in);
    border-style: none;
}

header button a {
    color: var(--f-in);
}

header button, header button a {
    padding: 6px 8px;
}

/* header changes on small screens */
@media screen and (max-width: 660px) {
    header {
        flex-flow: column nowrap;
    }

    header nav {
        flex-flow: column nowrap;
    }

    header nav ul {
        flex-flow: column nowrap;
        justify-content: center;
        margin: var(--lg) 0;
    }

    header nav ul li:not(:last-child) {
        margin-right: 0;
        margin-bottom: var(--lg);
        text-align: center;
    }

    header button, header button a {
        padding: 12px 14px;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* positioning of main content */

main {
    padding: var(--xl) 0;
}
main .island:not(:last-child) {
    margin-bottom: var(--xl);
}
main .island >* {
    margin: 0 0 var(--lg);
}
main .island >:last-child {
    margin-bottom: 0;
}

/* items */

#itemContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#itemContainer .item {
    margin: var(--xl);
    flex: 1 0 20%;

    text-align: center;
}

#itemContainer .item img {
    width: 100%;
    overflow: hidden;
    height: 200px;
    object-fit: contain;
}